#comment-panel {
  width: 100%;
  height: fit-content;
}

#position-select {
  outline: none;
  border: solid 1px #eee;
}

.comment-toolbar {
  margin: 10px 0;
}

.comment-list {
  width: 100%;
  height: 120px;
  list-style: none;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 1px #eee;
  resize: vertical;
}

.comment {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: solid 1px #eee;
}

.comment::before {
  /* 吹き出し */
  content: '\1F4AC';
}

.comment.staff::before {
  /* 拡声器 */
  content: '\1F4E2';
}

.comment.staff > .text {
  font-weight: bold;
}

.comment > .time {
  color: #777;
}
